.burger-button {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 48px;
    aspect-ratio: 1;

    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        content: '';
        width: 50%;
        height: 2px;

        background-color: var(--color-light);
        border-radius: var(--border-radius);
        box-shadow: 0 -8px var(--color-light), 0 8px var(--color-light);
    }
}

.burger-button-color {
    padding: 0;
    background-color: transparent;
    border: none;
    width: 48px;
    aspect-ratio: 1;

    position: relative;

    &::after {
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;

        content: '';
        width: 50%;
        height: 2px;

        background-color: var(--color-accent);
        border-radius: var(--border-radius);
        box-shadow: 0 -8px var(--color-accent), 0 8px var(--color-accent);
    }
}