.welcome {
    width: 100%;
    background-image: url(/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 240px 0;
    margin-top: -88px;
    
    &__body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    &__title {
        color: var(--color-light);

    }

    &__description {
        color: var(--color-gray);

    }
}